<!-- app/views/admin/appointments/_package_selector.html.erb -->
<%= turbo_frame_tag "appointment_form" do %>
  <%= form_with url: available_fields_admin_appointments_path(format: :turbo_stream),
                method: :get,
                local: false,
                id:      "appointment-form",
                class:   "space-y-6",
                data:    { turbo_frame: "doctor_date_frame" } do |f| %>

    <div class="field">
      <%= f.label :package_id, "Elige un servicio", class: "block text-lg font-medium text-gray-700 mb-2" %>
      <%= f.select :package_id,
                   @packages.map { |p| [p.name, p.id] },
                   { prompt: "Elige un servicio" },
                   class: "block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500",
                   onchange: "this.form.requestSubmit()" %>
    </div>
  <% end %>
<% end %>
