<%= turbo_frame_tag "appointment_form" do %>
  <%= render "shared/flash" %>

  <div data-controller="availability-guard">
    <div data-availability-guard-target="searchSection">
      <%= render "appointments/appointment_form" %>
    </div>

    <% if @ctx.available_times.present? %>
      <div data-availability-guard-target="resultsSection">
        <%= render "appointments/available_fields" %>
      </div>
    <% end %>
  </div>
<% end %>